/* NOTE: General page styles */
html {
  font-family: Helvetica;
  font-weight: bold;
  align-content: center;
  text-align: center;
  background-color: white;
}
.top_nav, .design, {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
/* NOTE: Specific page styles */
h1 {
  font-weight: bold;
  font-size: 70px;
  color: white;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 14px;
  font-weight: normal;
}
.btn-nav, .top_nav, a {
  color: white;
  font-size: 18px;
}
footer, #p {
  color: white;
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
}
.copywrite {
  font-size: 11px;
}
