html, .design {
  font: Helvetica;
  font-weight: bold;
  align-content: center;
  text-align: center;
  background-color: white;
}
.top_nav, .design, footer {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
.btn-nav .top_nav, .design {
  color: white;
  font-size: 18px;
}
